
@{
    ViewBag.Title = "Index";
}
<script src="~/Resources/Scripts/Navigation/Index.js"></script>
<link href="~/Resources/Style/Navigation/Index.css" rel="stylesheet" />
<div style="height:100%;width:100%;background-color:#ECECF4">
    <div class="homeheadtxt">
        <label class="back" id="back">
            <img src="~/Resources/Img/JT.png" id="backimg"/>
        </label>
        <label style="font-weight:700;font-size:20px "> 快速查询</label>

    </div>
    <div class="row" style="margin:auto;text-align:center;padding:20px 10px 0px 10px">

        <div class="nfirst" id="storesel">
            <div class="nlast" id="storesellast">
                <div class="imgdiv" id="storeselimgdiv">
                    <img src="~/Resources/Img/sel.png" id="storeselimg" />
                </div>
                <div class="title" id="storeseltitle">库存查询</div>
            </div>
        </div>


    </div>


</div>

