body {
}

.imgtxt {
    background-image: url('../../Img/loginbody.png');
}

.headtxt {
    text-align: center;
}

.TY {
    margin-top: 5px;
    margin: auto;
    background-color: rgba(255,255,255,0.3);
    height: 3.8px;
    width: 21px;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

.swal-footer {
    text-align: center;
}

.swal-title {
    font-size: 18px;
}

input::-webkit-input-placeholder {
    font-size: 3px;
    color: white;
}

.inputdiv {
    margin-left: 10px;
    width: 100%;
    padding-bottom: 5px;
    display: inline;
    border-bottom: 1px solid #5cb85c;
    border-bottom: 1px solid #5cb85c;
}

input {
    outline: none;
}

.inputdiv img {
    margin-right: 5px;
}

#name, #pwd {
    font-size: 3px;
    display: inline;
    color: white;
    width: 80%;
    border: 0px;
    BACKGROUND-COLOR: transparent;
}

    #name:focus,
    input[type="password"]:focus {
        outline: none;
        border: 0px;
        BACKGROUND-COLOR: transparent;
    }



.headtxt2 {
    margin-top: 8px;
    font-size: 14px;
    color: ghostwhite;
    width: 100%;
    text-align: center;
    top: 0px;
    /*    margin-top:-24%;*/
}

#bodytxt {
    width: 100%;
    margin-top: 25px;
    /*    margin-left: -5px*/
}

.btntxt {
    margin-top: 45px;
    text-align: center;
}

#loginbtn {
    outline: none;
    width: 94%;
    margin: auto;
    text-align: center;
    color: dodgerblue;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}
