body {
    background-color: #ECECF4;
}
.nlast {
}
.back {
    padding-top: 1%;
    width: 45px;
    height: 30px;
    margin-left: 10px;
}
.homeheadtxt {
    padding-top: 6px;
    display: inline-flex;
    font-size: 13px;
    width: 100%;
    /*    margin-top:-24%;*/
}
.nfirst {
    border: 0.1px solid rgba(255,255,255,0.3);
    background-color: white;
    margin: 2px 10px 10px 10px;
    padding-top: 5px;
    width: 40%;
    height: 40%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    float: left;
}
.imgdiv img{
    margin-top:10px;
    width:40%;

}
.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
}